/* Contact.css */
  .contact-title{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-person {
    font-size: 1.5em; 
    color: #002856; 
    text-decoration: underline; 
    cursor: pointer;
  }
  
  .contact-person:hover {
    text-decoration: underline;
    color: #007853; 
  }
  
  .contact-title {
    font-size: 1.5em;
  }
  