h2 {
  margin-top: 2vh;
}
.navbar {
    background-color: #007853;
    border-bottom: 2px solid #002856;
    padding: 10px; 
  }
.schedule-navbar {
  display: flex;
  justify-content: right;
  height: 20vh;
  width: auto;
  border: 1px solid #ddd;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.schedule-navbar li {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 22.5vw;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.schedule-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
}
.schedule-navbar .schedule-previous,
.schedule-navbar .schedule-next {
  width: 5vw;
  display: flex;
  text-align: center;
  align-items: center;
}
.sport {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-right: 20vw;
}
.datetime {
  margin-top: 5px;
  font-size: 1.25em;
  color: black;
  text-align: center;
  margin-right: 5vw;
}
.teams {
  margin-top: 10px;
  font-size: 1.25em;
  text-align: center;
  margin-right: 10vw;
}
.location {
  margin-top: 10px;
  font-size: 1.25em;
  text-align: center;
  margin-right: 10vw;
}
.full-schedule {
  display: none;
}
@media (max-width: 600px) {
  .full-schedule {
    width: 55vw;
    display: block;
  }
  .sport, .datetime, .teams {
    font-size: 1.25em;
    margin-right: 8vw;
  }
  .schedule-navbar .schedule-next, 
  .schedule-navbar .schedule-previous,
  .schedule-navbar li:nth-child(4),
  .schedule-navbar li:nth-child(5) {
    display: none;
  }
  .schedule-navbar li{
    flex: 0 0 40%;
  }
}
@media (max-width: 1100px) and (min-width: 601px) {
  .schedule-navbar li:nth-child(4),
  .schedule-navbar li:nth-child(5) {
    display: none;
  }
  .schedule-navbar li:nth-child(2),
  .schedule-navbar li:nth-child(3),
  .schedule-navbar .schedule-next {
    display: flex;
    flex: 0 0 85%;
  }
  .schedule-navbar .schedule-previous {
    width: 5vw;
  }
  .full-schedule {
    display: none;
  }
} 
@media (min-width: 1101px) {
  .sport, .datetime, .teams {
    margin-right: 5vw;
  }
  .full-schedule {
    display: none;
  }
}