.news-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.news-table th, .news-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #4b4b4b;
    border-right: 1px solid #4b4b4b;
  }

  .news-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .news-table tr:hover {
    background-color: #ddd;
  }  

  .news-table th {
    background-color: #003366;
    color: white;
  }

  .news-table td:first-child,
.news-table th:first-child {
  width: 100px; 
}