body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 2vh;
}

.event {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 6vh;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
}

.sport {
    font-size: 1.5em;
    font-weight: bold;
    color: #007853;
}

.datetime {
    margin-top: 10px; 
    font-size: 1.2em; 
    color: #555;
}

.teams {
    margin-top: 10px;
    font-size: 1.3em; 
}

.location {
    margin-top: 10px; 
    font-size: 1.2em; 
    color: #555;
}

@media (max-width: 800px) {
    .event {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .datetime, .location, .sport, .teams {
        margin-right: 0;
    }
  }