
.sport-standings-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sport-standings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sport-standings-header h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .sport-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sport-table th,
  .sport-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .sport-table th {
    background-color: #007853;
    color: white;
  }
  
  .sport-table td {
    background-color: #fff;
  }
  
  .sport-table-left {
    width: 30%;
  }
  
  .sport-table-center {
    text-align: center;
  }
  
  .sport-table-logo-container {
    display: flex;
    align-items: center;
  }
  
  .sport-table-logo-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  /* Alternating row colors */
  .sport-table tbody tr.even {
    background-color: #f9f9f9;
  }
  
  .sport-table tbody tr:hover {
    background-color: #e0f7fa;
    transition: background-color 0.3s ease;
  }